.signInForm {
  display: flex;
  flex-direction: column;
  min-width: 464px;
  background-color: #FFFFFF;
  gap: 20px;
}

.signInForm__heading {
  text-align: center;
  margin-top: -20px;
}

mark.red {
  color: #FF6363;
  background: none;
}

.signInForm__errMessage {
  text-align: center;
  font-weight: 700;
  padding: 14px 49px;
  background-color: #FADCDE;
  border-radius: 14px;
}
