.addContentForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  gap: 20px;
}

.addContentForm__heading {
  text-align: center;
}

mark.red {
  color: #FF6363;
  background: none;
}
