.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;
  height: 136px;
  padding: 0 50px;
}

.footer_text {
  font-size: 22px;
  font-family: "Mazzard", sans-serif;
  color: rgba(255, 255, 255, 0.2);
}

.footer_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 43px;
}

.icons img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }
  .icons {
    gap: 10px;
  }

  .icons img {
    height: 16px;
    width: 16px;
  }
}
