.userInfo {
  align-items: center;
  padding: 96px 50px 10px;
  margin-bottom: 137px;
}

.userVideo {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 75px;
}

.userVideo_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.userVideo_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.video_icon {
  margin-left: 15px;
}

.video_icon img {
  height: 25px;
  width: 25px;
}

.userVideo_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
  grid-gap: 10px;
}

.userVideo_container {
  max-width: 314px;
  padding-bottom: 28px;
}

@media screen and (max-width: 768px) {
  .userVideo_head {
    flex-direction: column;
  }

  .userVideo_title {
    margin-bottom: 30px;
  }

  .userVideo_list {
    justify-content: center;
    align-self: center;
  }
}
