.signUpForm {
  display: flex;
  flex-direction: column;
  min-width: 464px;
  background-color: #FFFFFF;
  gap: 20px;
}

.signUpForm__heading {
  text-align: center;
  margin-top: -20px;
}

mark.red {
  color: #FF6363;
  background: none;
}

