.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.notFound_message {
  margin-top: 100px;
}

.notFound_button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notFound_button span {
  margin-right: 25px;
}
